<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ut.scf.dao.query.IRateInfoDao" >

  <select id="getRateInfoList" resultType="hashmap" parameterType="hashmap" >
   select
		c.corp_name corpName,
		c.orgn_num orgnNum,
		f.finance_id financeId,
		f.finance_start_date financeStartDate,
		f.finance_end_date financeEndDate,
		f.finance_amount financeAmount,
  		f.pay_amt payAmt,
		r.interest_sum interestSum,
  		r.has_pay_interest hasPayInterest,
  		r.not_pay_interest notPayInterest
	from
		finance_info f
	inner join revenue_management r ON r.finance_id = f.finance_id
	inner join corp_info c ON f.corp_id = c.corp_id
	where 1=1
    <if test="corpName != null and corpName != ''">
	    and c.corp_name LIKE CONCAT(CONCAT('%', #{corpName}),'%')
	</if> 
    <if test="agencyNum != null and agencyNum !='' ">  
        and agency_num LIKE CONCAT(CONCAT('%', #{agencyNum}),'%')
    </if>
    <if test="financeStartDate != null and financeStartDate !='' ">  
        and DATE_FORMAT(finance_start_date, '%Y-%m-%d') >= #{financeStartDate}
    </if>
    <if test="financeId != null and financeId !='' ">  
        and f.finance_id LIKE CONCAT(CONCAT('%', #{financeId}),'%')
    </if>
    <if test="financeEndDate != null and financeEndDate !='' ">  
        and DATE_FORMAT(finance_end_date, '%Y-%m-%d') <![CDATA[<=]]> #{financeEndDate}
    </if>
  </select>
  
</mapper>